###########################################
# START ECOMMERCE PRODUCT QUESTIONS
###########################################

#May set

# Highly Recommended
## Example

ProductsAndGroupsModelAdmin:
  managed_models:
    - ProductQuestion
    - ...
    - ...

###########################################
# END ECOMMERCE PRODUCT QUESTIONS
###########################################

